<?xml version="1.0" ?>
<robot name="omo_r1mini"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <material name="dark">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link" />
    <origin xyz="0 0 0.0335" rpy="0 0 0"/>
  </joint>

  <link name="base_link"/>
  <!-- 하우징 -->

  <!-- 바퀴 -->
  <joint name="wheel_left_joint" type="fixed">
    <parent link="base_link"/>
    <child link="wheel_left_link"/>
    <origin xyz="0 0.08 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1" upper="1" effort="30.0" velocity="1"/>
  </joint>

  <link name="wheel_left_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.57079633"/>
      <geometry>
        <mesh filename="package://omo_r1mini_description/meshes/wheels/wheel_assy.dae" scale="1 1 1"/>
      </geometry>
      <material name="dark"/>
    </visual>
  </link>

  <joint name="wheel_right_joint" type="fixed">
    <parent link="base_link"/>
    <child link="wheel_right_link"/>
    <origin xyz="0 -0.08 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <link name="wheel_right_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.57079633"/>
      <geometry>
        <mesh filename="package://omo_r1mini_description/meshes/wheels/wheel_assy.dae" scale="1 1 1"/>
      </geometry>
      <material name="dark"/>
    </visual>
  </link>

  <!-- 센서 - RealSense D435 -->
  <joint name="depth_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="depth_camera_link"/>
    <origin xyz="0.0508 0.0175 0.052286" rpy="0 0 0"/>
  </joint>

  <link name="depth_camera_link">
    <visual>
      <origin xyz="0.0042 -0.0175 0" rpy="1.57079633 0 1.57079633"/>
      <geometry>
        <mesh filename="package://realsense2_description/meshes/d435.dae" />
      </geometry>
    </visual>
  </link>

  <!-- 센서 - YDLidar X4 -->
  <joint name="scan_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_scan"/>
    <origin xyz="0 0 0.106036" rpy="0 0 0"/>
  </joint>

  <link name="base_scan">
    <visual>
      <origin xyz="0 0 -0.046" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://omo_r1mini_description/meshes/sensors/ydlidar_assy.dae" scale="1 1 1"/>
      </geometry>
      <material name="dark"/>
    </visual>
  </link>

  <!-- 센서 - IntelliThings iAHRS-->
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="-0.094249 0 0.027051" rpy="0 0 0"/>
  </joint>

  <link name="imu_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.035 0.035 0.01"/>
      </geometry>
      <material name="dark"/>
    </visual>
  </link>
</robot>
